#location-list-wrapper {
  width: 28%;
  margin-right: 10px;
  float: left;
}

.bh-sl-map-container #map {
  width: 70%;
  height: 530px;
  float: left;
}

.store-locator-form #map,
.block-store-locator #map,
.store-locator-page-view {
  width: 100%;
  height: 500px;
  float: none;
}

#add-button-wrapper {
  margin: 15px 0;
}

.highlight {
  border: 2px solid #a51c27;
}

.gm-style div,
.gm-style span,
.gm-style label,
.gm-style a {
  font-family: Arial, Helvetica, sans-serif;
}

.bh-sl-loc-list {
  font-size: 13px;
  height: 530px;
  overflow-x: auto;
}
